<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - YMarket</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/assets/bootstrap4.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{% block content %}{% endblock %}
<footer class="footer">
      <div class="container">
        <span class="text-muted small"><small>Footer text, 2018.</small></span>
      </div>
    </footer>

<script src="/static/assets/jquery-3.2.1.slim.min.js"></script>
<script src="/static/assets/popper.min.js"></script>
<script src="/static/assets/bootstrap4.min.js"></script>


</body>
</html>