<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column sidebar-ul">
      <li class="nav-item">
        <form>
          <div class="form-group login-form-group">
            <label for="exampleInputEmail1" class="login-form-label">Email address</label>
            <input type="email" class="form-control login-form-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group login-form-group">
            <label for="exampleInputPassword1" class="login-form-label">Password</label>
            <input type="password" class="form-control login-form-input" id="exampleInputPassword1" placeholder="Password">
          </div>
          <!-- <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
          <button type="submit" class="btn btn-primary btn-sm login-btn"><span data-feather="log-in"></span>
          Log In</button>
        </form>
      </li>
      <li class="nav-item">
        <span>&nbsp;</span>
      </li>
      <li class="nav-item">
        <a class="nav-link active  signup" href="#">
          <i data-feather="chevrons-right"></i>
          Sign Up
        </a>
      </li>
    </ul>

    <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>&nbsp;</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          New Questions
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Hot Questions
        </a>
      </li>
    </ul> -->
  </div>
</nav>