<h3 class="trending-h">Trending</h3>
<ul class="list-group">
  <li class="list-group-item trending-li">
    <div class="row">
      <div class="col-md-12 trending-title-block">
        <span class="trending-title">Как (и возможно ли) дотянуться до Junior JavaScript Developer в кратчайшие сроки?</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline trending-meta">
          <li class="list-inline-item">3669 votes</li>
          <li class="list-inline-item">15 answers</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-group-item trending-li">
    <div class="row">
      <div class="col-md-12 trending-title-block">
        <span class="trending-title">Как (и возможно ли) дотянуться до Junior JavaScript Developer в кратчайшие сроки?</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline trending-meta">
          <li class="list-inline-item">3669 votes</li>
          <li class="list-inline-item">15 answers</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-group-item trending-li">
    <div class="row">
      <div class="col-md-12 trending-title-block">
        <span class="trending-title">Как (и возможно ли) дотянуться до Junior JavaScript Developer в кратчайшие сроки?</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline trending-meta">
          <li class="list-inline-item">3669 votes</li>
          <li class="list-inline-item">15 answers</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-group-item trending-li">
    <div class="row">
      <div class="col-md-12 trending-title-block">
        <span class="trending-title">Как (и возможно ли) дотянуться до Junior JavaScript Developer в кратчайшие сроки?</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline trending-meta">
          <li class="list-inline-item">3669 votes</li>
          <li class="list-inline-item">15 answers</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-group-item trending-li">
    <div class="row">
      <div class="col-md-12 trending-title-block">
        <span class="trending-title">Как (и возможно ли) дотянуться до Junior JavaScript Developer в кратчайшие сроки?</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline trending-meta">
          <li class="list-inline-item">3669 votes</li>
          <li class="list-inline-item">15 answers</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-group-item trending-li">
    <div class="row">
      <div class="col-md-12 trending-title-block">
        <span class="trending-title">Как (и возможно ли) дотянуться до Junior JavaScript Developer в кратчайшие сроки?</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline trending-meta">
          <li class="list-inline-item">3669 votes</li>
          <li class="list-inline-item">15 answers</li>
        </ul>
      </div>
    </div>
  </li>
  
 </ul>