{% extends "base.html" %}
{% block content %}
<ul class="nav nav-pills main-title">
  <li class="nav-item">
    <a class="nav-link" href="/"><h3>Hot Questions</h3></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/new"><h3>New Questions</h3></a>
  </li>
</ul>
 <ul class="list-group main-section">
  <li class="list-group-item question">
    <div class="row">
      <div class="col-md-12 tag-block">
        <span class="tag">образование</span>
        <span class="tag">javascript</span>
        <span class="tag">python</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 question-title-block">
        <span class="question-title">Как (и возможно ли) дотянуться до Junior JavaScript Developer в кратчайшие сроки?</span>
      </div>
      <div class="col-md-2 answers-counter-block">
        <div class="answers-counter">15</div>
        <div class="answers-counter-text">ответов</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline question-meta">
          <li class="list-inline-item">Ivan Denisov</li>
          <li class="list-inline-item">15 may</li>
          <li class="list-inline-item">3669 votes</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-group-item question">
    <div class="row">
      <div class="col-md-12 tag-block">
        <span class="tag">образование</span>
        <span class="tag">javascript</span>
        <span class="tag">python</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 question-title-block">
        <span class="question-title">Как (и возможно ли) дотянуться до Junior JavaScript Developer в кратчайшие сроки?</span>
      </div>
      <div class="col-md-2 answers-counter-block">
        <div class="answers-counter">15</div>
        <div class="answers-counter-text">ответов</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline question-meta">
          <li class="list-inline-item">Ivan Denisov</li>
          <li class="list-inline-item">15 may</li>
          <li class="list-inline-item">3669 votes</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-group-item question">
    <div class="row">
      <div class="col-md-12 tag-block">
        <span class="tag">образование</span>
        <span class="tag">javascript</span>
        <span class="tag">python</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 question-title-block">
        <span class="question-title">Как (и возможно ли) дотянуться до Junior JavaScript Developer в кратчайшие сроки?</span>
      </div>
      <div class="col-md-2 answers-counter-block">
        <div class="answers-counter">15</div>
        <div class="answers-counter-text">ответов</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline question-meta">
          <li class="list-inline-item">Ivan Denisov</li>
          <li class="list-inline-item">15 may</li>
          <li class="list-inline-item">3669 votes</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-group-item question">
    <div class="row">
      <div class="col-md-12 tag-block">
        <span class="tag">образование</span>
        <span class="tag">javascript</span>
        <span class="tag">python</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 question-title-block">
        <span class="question-title">Как (и возможно ли) дотянуться до Junior JavaScript Developer в кратчайшие сроки?</span>
      </div>
      <div class="col-md-2 answers-counter-block">
        <div class="answers-counter">15</div>
        <div class="answers-counter-text">ответов</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline question-meta">
          <li class="list-inline-item">Ivan Denisov</li>
          <li class="list-inline-item">15 may</li>
          <li class="list-inline-item">3669 votes</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-group-item question">
    <div class="row">
      <div class="col-md-12 tag-block">
        <span class="tag">образование</span>
        <span class="tag">javascript</span>
        <span class="tag">python</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 question-title-block">
        <span class="question-title">Как (и возможно ли) дотянуться до Junior JavaScript Developer в кратчайшие сроки?</span>
      </div>
      <div class="col-md-2 answers-counter-block">
        <div class="answers-counter">15</div>
        <div class="answers-counter-text">ответов</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline question-meta">
          <li class="list-inline-item">Ivan Denisov</li>
          <li class="list-inline-item">15 may</li>
          <li class="list-inline-item">3669 votes</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-group-item question">
    <div class="row">
      <div class="col-md-12 tag-block">
        <span class="tag">образование</span>
        <span class="tag">javascript</span>
        <span class="tag">python</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 question-title-block">
        <span class="question-title">Как (и возможно ли) дотянуться до Junior JavaScript Developer в кратчайшие сроки?</span>
      </div>
      <div class="col-md-2 answers-counter-block">
        <div class="answers-counter">15</div>
        <div class="answers-counter-text">ответов</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline question-meta">
          <li class="list-inline-item">Ivan Denisov</li>
          <li class="list-inline-item">15 may</li>
          <li class="list-inline-item">3669 votes</li>
        </ul>
      </div>
    </div>
  </li>
 </ul>
{% endblock %}