{% extends "base.html" %}
{% block content %}
 <ul class="list-group main-section">
  <li class="list-group-item question-page-li">
    <ul class="list-inline no-dot">
      <li class="list-inline-item"><img src="{{ question.author.profile.avatar.url }}" class="question-avatar"></li>
      <li class="list-inline-item question-user">{{question.author.first_name}}&nbsp;{{question.author.last_name}}</li>
    </ul>
  </li>
  <li class="list-group-item question-page">
    <div class="row">
      <div class="col-md-12 question-page-tag-block">
        {% for tag in question.tags.all %}
          <span class="tag">{{tag|upper}}</span>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 question-page-title-block">
        <span class="question-page-title">{{question.title}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 question-content">
        {{question.content}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 question-created">
        <ul class="list-inline">
          <li class="list-inline-item">Created {{question.created|date:"d M"}}</li>
        </ul>
      </div>
      <div class="col-md-6 question-vote">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-sm btn-outline-dark"><i data-feather="minus"></i></button>
          {% if question.rating >= 0 %}
          <div class="btn btn-sm btn-outline-success">
          {% else %}
          <div class="btn btn-sm btn-outline-danger">
          {% endif %}
          <strong>{{question.rating}}</strong></div>
          <button type="button" class="btn btn-sm btn-outline-dark"><i data-feather="plus"></i></button>
        </div>
      </div>
    </div>
  </li>
  <li class="list-group-item answers-title">
    Answers ({{answers.count}})
  </li>
  <li class="list-group-item answers-section">

    <ul class="list-group answers">
      
      {% for answer in answers %}
      <li class="list-group-item answer">
          <div class="row answer-row">
            <div class="col-md-1 answer-avatar">
              <img src="{{ answer.author.profile.avatar.url }}" class="question-avatar">
            </div>
            <div class="col-md-11 answer-user">{{answer.author.first_name}}&nbsp;{{answer.author.last_name}}</div>
          </div>
          <div class="row answer-row">
            <div class="col-md-1 answer-avatar"></div>
            <div class="col-md-11 answer-content">
              {{answer.content}}
            </div>
          </div>
        <div class="row">
          <div class="col-md-1 answer-avatar"></div>
          <div class="col-md-11 answer-created">Created {{answer.created|date:"d M h m s T"}}</div>
        </div>
        <div class="row">
          <div class="col-md-1 answer-avatar"></div>
          <div class="col-md-11 answer-vote">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm btn-outline-dark"><i data-feather="minus"></i></button>
              {% if answer.rating >= 0 %}
              <div class="btn btn-sm btn-outline-success">
              {% else %}
              <div class="btn btn-sm btn-outline-danger">
              {% endif %}
              <strong>{{answer.rating}}</strong></div>
                  <button type="button" class="btn btn-sm btn-outline-dark"><i data-feather="plus"></i></button>
                </div>
            {% if answer.is_solution %}
            <button type="button" class="btn btn-sm btn-success btn-solution" disabled>
              
              <i data-feather="check"></i>&nbsp;Marked as solution</button>
            {% else %}
              <button type="button" class="btn btn-sm btn-outline-success btn-solution">Mark as solution</button>

            {% endif %}
          </div>
        </div>
      </li>
      {% endfor %}

    </ul>
  </li>
  <li class="list-group-item your-answer-title">
    Your Answer
  </li>
  <li class="list-group-item your-answer-form">
    <form>
      <div class="form-group">
        <label for="exampleFormControlTextarea1" class="your-answer-textarea-label">Enter your answer here:</label>
      <textarea class="form-control your-answer-textarea" id="exampleFormControlTextarea1" rows="10"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Send Answer</button>
    </form>
  </li>
 </ul>
{% endblock %}